body{
      background-color:#D2B48C;
      margin: 8px;
      border-color: white;
}

.wrap {text-align:center; width:90%; margin:0 auto; border:1px solid black; margin-top:25px;}

.header{text-align:left; padding:25px;}
.headerImg{float:left; width:250px;}
.headerText{float:left; height:105px; padding-top:50px; padding-left:25px; }

.main{text-align:left; padding:25px;}

.footer{text-align:left; padding:25px;}


table, th, td {border: 1px solid white;}

table {
    width: 700 px;
    background-color: white;
    text-align: center;
}

a {
    color: #696969 ;
    
    
}
th {
    height: 50px;
    text-align: center;
    background-color:#FFFF99;
    color:#696969;
    font-weight: bold;
  
	
}


td{
    background-color: #F08080;
    color:#FFFFFF;
   
}

form {
    height:200px;
    width:350px;
    padding: 15 px;
    
}

#movieid{
    background-color: grey;
}

label {
    text-align:right;
}




/*Fat Erik's Pipelist*/
/* http://css.maxdesign.com.au/listamatic/horizontal32.htm */

.navcontainer { margin-left: 30px; text-align:left;}

.navlist
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlist li
{
    display: inline;
    padding: 0;
    margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
    border-left: 1px solid black;
    padding: 0 0.4em 0 0.4em;
    margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
    display: block;
    float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #navlist li:first-child { border-left: 0; }